#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.topBarLoaded {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 47, 89);
  border-radius: 12px;
  margin-bottom: 10px;
}

.arrow {
  font-size: 3rem;
  color: white;
}

form {
  width: fit-content;
  margin: auto;
}

input, .suggestionsDropdown {
  width: 20vw;
  padding: 20px;
}

input {
  margin: 5px;
  border-radius: 50px;
}

input:focus {
  border-radius: 0;
}

.suggestionsDropdown {
  display: flex;
  flex-direction: column;
  margin: -25px auto;
  position: absolute;
  z-index: 10;
}

.searchButton {
  width: 20vw;
  margin: 5px;
  background-color: rgb(8, 2, 93);
  color: white;
}

.searchButton:hover {
  outline: 2px solid black;
}

.searchButtonInverted {
  background-color: white;
  color: rgb(8, 2, 93);
}

.card {
  padding: 2em;
}

.tripCard {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  margin: 10px 0px;
  padding: 20px;
  transition: 0.1s ease-in-out;
  width: 100%;
  animation: fade-in 0.7s;
}

.tripCard:hover {
  padding: 30px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.bold {
  font-weight: bold;
}

.timeTaken {
  margin-left: 20px;
  font-weight: lighter;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 30vw;
}

li {
  width: 100%;
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(246, 250, 255);
  border-radius: 12px;
}

.trains:not(:last-child)::after {
  content: '•';
  position: relative;
}

.details {
  background-color: white;
  height: fit-content;
  border-left: 10px solid rgb(0, 47, 89);
  border-radius: 5px;
  padding: 0px 20px;
  margin: 12px;
  animation: fade-in 0.7s;
}

.stationAndTrack {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.stationAndTrack span:first-child {
  margin-right: 20px;
}

.stationAndTrack span:last-child {
  margin-left: 20px;
}

.stationAndTrack::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -35px;
  width: 20px;
  height: 20px;
  background-image: radial-gradient(white 0%, white 30%, rgb(0, 47, 89) 31%, rgb(0, 47, 89) 100%);
  border-radius: 50%;
}

@keyframes fade-in {
  0% {margin-left: -25%; opacity: 0;}
  100% {margin-left: 0%; opacity: 1;}
}